* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
  background: url("https://b.thumbs.redditmedia.com/JMdJE1w9ouKWci4DT0s6BUkX7B9xKXS-DBgCb8F6L0g.png") no-repeat top center fixed;
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-item: center;
}

.apink-logo {
  align-self: center;
  margin-left: 20px;
  margin-top: -10px;

}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.slides-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.my-slides {
  width: 80%;

}

.slides-nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.button-container {
  display: flex;
}

.slides-button {
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 5px;
  align-self: center;
  padding: 5px;
}

.active-slide {
  display: block;
}

.slides-arrow {
  color: black;
}

.inactive-slide {
  display: none;
}
